  
  
  <!-- close main-container div in header -->
  </div>

  <footer class="container-fluid">
    <p>&copy; 2024 Box Fruit</p>
  </footer>

  <!-- Link to the JavaScript file from the public folder -->
  <script src="/views.js"></script>
</body>
</html>
