<%- include('partials/header') %>

<h1>Save favorite movies to watch later</h1>

<div class="d-flex justify-content-center align-items-center">
    <div class="container-fluid mt-3">
        
        <% for (var i=0; i<6; i++) { %>
            <div class="row">
                <!-- Create a 6x6 grid -->
                <!-- Repeat this block 36 times for each image -->
                <% for (var j=0; j<6; j++) { %>
                    <div class="col-6 col-xl-4 col-xxl-2 mb-3">
                        <img src="https://m.media-amazon.com/images/M/MV5BYTYzMTlmNDctNmVkNS00YzRlLWE5MjAtODdjZWRkYzRlNWVlXkEyXkFqcGc@._V1_.jpg" class="img-thumbnail" alt="Thumbnail 1" onclick="toMovie()">
                    </div>
                <% } %>
            </div>
        <% } %>

    </div>
</div>

<%- include('partials/footer') %>