<%- include('partials/header') %>

<h1>Movie Title</h1>
<h1>POSTER</h1>
<p>
    Rating<br>
    Director<br>
    Writers<br>
    Actors<br>
    Genres<br>
    photos<br>
    favorite button<br>
    trailer<br>
    etc?<br>
</p>

<%- include('partials/footer') %>