<%- include('partials/header') %>

<div class="d-flex capsule">
    <div class="desc-img">
        <img src="https://m.media-amazon.com/images/M/MV5BYTYzMTlmNDctNmVkNS00YzRlLWE5MjAtODdjZWRkYzRlNWVlXkEyXkFqcGc@._V1_.jpg" class="img-thumbnail" alt="Thumbnail">
    </div>


    <div class="desc">
        <h1 class="desc-title">Movie Title</h1>
        <p class="desc-info">Rating</p>
        <p class="desc-info">Director</p>
        <p class="desc-info">Writers</p>
        <p class="desc-info">Actors</p>
        <p class="desc-info">Genres</p>
        <p class="desc-info">photos</p>
        <p class="desc-info">favorite button</p>
        <p class="desc-info">trailer</p>
    </div>
</div>

<div>
    <form action="/stream" method="get">
        <button type="submit">Watch Now</button>
    </form>
</div>

<%- include('partials/footer') %>