<%- include('partials/header') %>
<div>
    <h1>Movie Title</h1>
</div>

<div class="d-flex">
    <div>
        <!-- found in img viewer then inspect on IMDB (find by ID) -->
        <img src="https://m.media-amazon.com/images/M/MV5BMDcxOGEwNTktZTA0Yi00ZTFlLTkxNTItM2M2MmY0YTI2MTBhXkEyXkFqcGc@._V1_.jpg" alt="Image description">
    </div>

    <div>
        <p>
            Rating<br>
            Director<br>
            Writers<br>
            Actors<br>
            Genres<br>
            photos<br>
            favorite button<br>
            trailer<br>
            etc?<br>
        </p>
    </div>
</div>

<%- include('partials/footer') %>