<%- include('partials/header', { title: 'TV_SHOW' }) %>

<h1>TV Show Title</h1>
<h1>POSTER</h1>
<p>
    Rating<br>
    Director<br>
    Writers<br>
    Actors<br>
    Genres<br>
    photos<br>
    favorite button<br>
    trailer<br>
    etc?<br>
</p>

<p>
    Episode 1<br>
    Episode 2<br>
    Episode 3<br>
</p>

<%- include('partials/footer') %>