
* {
    margin: 0;
    padding: 0;
  }

html, body {
    height: 100%;
    color: antiquewhite;
    background-color: #1d1d1d;
}


/* header.ejs */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

#search-bar {
    background-color: #495057;
    width: 35vw;
}

#search {
    background-color: #495057;
    border-radius: 0;
    color: antiquewhite;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none; /* Hides the "x" button */
}

#search-icon {
    color: antiquewhite;
}

#settings {
    font-size: large;
    color: #495057;
}

#settings:hover {
    color: antiquewhite;
}

/* Sidebar styles */
#sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden on the left side */
    width: 250px;
    height: 100%;
    background-color: #343a40;
    color: white;
    transition: left 0.3s ease-in-out;
    padding-top: 5%;
    z-index: 900;
}

#sidebar .nav-link {
color: white;
padding: 10px 15px;
}

#sidebar .nav-link:hover {
background-color: #495057;
}

/* When sidebar is active (toggled), move it to the left */
#sidebar.show {
left: 0;
}

/* When sidebar is open, shift the content */
body.sidebar-open .container {
    margin-left: 250px; /* Push the content to the right */
    width: calc(100% - 250px);
}


.main-container {
    padding-top: 5%;
    margin-bottom: 5%;
    min-height: 100vh;
}




/* home.ejs */
.home {
    transition: all 0.5s ease-in-out;
}









video {
    width: 100%;
    height: auto;
    border: 2px solid #000;
}


footer {
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
  }















  /* add class to remove unwanted borders and outlines */
.kill-borders {
    outline: none;
    border: none;
    box-shadow: none;
}

.kill-borders:focus {
    outline: none;
    border: none;
    box-shadow: none;
}